/* 
----------------------
Variables
----------------------
*/
:root {
  --clr-primary-bg: #fefefe;
  --clr-primary-text: #000;
  --clr-blue-neon: #19a7ce;
  --clr-blue-dull: #146c94;
  --clr-blue-darker: #023167;

  --clr-secondary-bg: #f6f6f6;
  --clr-blue-green: #c7ffd8;
  --clr-blue-light: #98ded9;
  --clr-blue-dark: #161d6f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--clr-primary-bg);
  color: var(--clr-blue-darker);
  letter-spacing: 0.5px;
  line-height: 2rem;
  text-align: center;
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}
h2 {
  padding: 4rem 4rem;
}
svg {
  width: 25px;
}
button {
  background: none;
  border: none;
  font-size: inherit;
  color: inherit;
}
li {
  list-style-type: none;
}
/* 
=================
Navbar
=================
 */
nav {
  padding: 0.5rem 0.5rem;
  background: transparent;
  position: absolute;
  top: 0.2rem;
  left: 1rem;
}
.navbar {
  display: grid;
  grid-template-columns: 0.9fr 1fr 1fr 1.3fr;
  text-align: center;
  background-color: transparent;
  border-radius: 1rem;
  border: 1px solid rgb(185, 238, 255);
}
.navbar a {
  color: var(--clr-blue-dark);
  font-weight: 600;
  font-size: large;
}
.navbar a:hover {
  color: var(--clr-blue-green);
}
.shared-navbar {
  position: relative;
  top: -28rem;
  left: 0rem;
  width: 600px;
  border-color: rgb(185, 238, 255);
}
.shared-navbar a {
  color: rgb(185, 238, 255);
}

/* 
=======
Footer
=======
*/

.footer {
  background-image: url('./src/assets/invert-wave.png');
  background-size: 100vw 100px;
  background-repeat: no-repeat;
  min-height: 250px;
  padding: 1rem;
  position: relative;
  bottom: -35rem;
  background-color: #3586ff;
}
/* 
===============
sidebar
===============
*/
.sidebar {
  padding: 1rem 0;
  padding-top: 2rem;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-width: 17vw;
  border-right: 22px solid white;
  border-left: 22px solid white;
  /* background-color: #4653dd; */
  /* background-color: #707cff; */
  background-color: rgb(223, 223, 255);
  text-align: left;
}
.sidebar h4 {
  padding-left: 2rem;
}
.sidebar a {
  display: block;
  margin: 1rem;
  padding: 0.3rem 2rem;
  padding-left: 4.6rem;
  border-radius: 2rem;
  color: var(--clr-blue-dark);
  text-align: left;
  position: relative;
}
.sidebar hr {
  fill-rule: var(--clr-blue-dark);
  margin: 1.2rem 2rem;
}
.sidebar a:hover {
  background-color: rgb(119, 119, 255);
  color: white;
}
.sidebar svg {
  max-width: 21px;
  position: absolute;
  left: 2.3rem;
  top: 0.6rem;
}
.sidebar p {
  text-align: center;
  font-size: small;
}

/* 
=======
Home
=======
*/
.page-container {
  max-width: 100vw;
}
.head {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 0;
  padding: 1rem 3rem;
  padding-top: 8rem;
  max-width: 100vw;
  height: 60vh;
  color: #000;
  background-color: #3586ff;
}
.head svg {
  width: 30px;
  position: absolute;
  top: 0.5rem;
  right: 2.7rem;
  transition: all 0.3s linear;
  cursor: pointer;
  animation: bounce 2s ease-in-out infinite;
}

.head svg:hover {
  color: var(--clr-blue-green);
}

/* @media screen and (width<900px) {
  .sidebar {
    width: 26vw;
  }
  .sidebar-heading {
    left: 2.7rem;
  }
} */
.head h1 {
  font-size: 70px;
  margin-bottom: 0;
  color: rgb(2, 2, 77);
}
.head h1:hover {
  color: #75fff6;
}
.head h3 {
  padding-top: 1rem;
  color: var(--clr-blue-darker);
}
.search,
.search-btn {
  font-size: 1rem;
  margin-top: 3rem;
  padding: 1.2rem;
  border: none;
  color: var(--clr-blue-dark);
}
.search {
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  width: 30vw;
}
.search-btn {
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  min-width: 10vw;
  background-color: rgb(212, 245, 255);
  color: #003a7b;
  font-weight: 600;
}
.head section {
  position: relative;
  top: 0rem;
  width: 100vw;
  height: 110px;
}
.head section .wave {
  position: absolute;
  top: 3rem;
  left: -3rem;
  width: 100vw;
  height: 100px;
  background: url(./src/assets/Wave.png);
  background-size: 100vw 100px;
}
.wave.wave1 {
  animation: animate 20s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.wave.wave2 {
  animation: animate2 10s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.wave.wave3 {
  animation: animate 25s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15;
}
.wave.wave4 {
  animation: animate2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes animate {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100vw;
  }
}
@keyframes animate2 {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: -100vw;
  }
}
@media screen and (width < 616px) {
  .head {
    width: 100vw;
  }
}
.page-text {
  position: absolute;
  top: 30rem;
  left: 7rem;
  text-align: left;
  display: flex;
  width: max-content;
}
.page-text h3 {
  text-align: center;
}
.page-text button {
  margin: 0 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(212, 245, 255);
  color: #003a7b;
}

/*
======================
Trending Movie List
======================
*/
.movie-container {
  position: relative;
  top: 33rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 0.3rem 3rem;
  align-items: center;
  max-width: 100vw;
}

.movie {
  padding: 1rem 1rem;
}
.movie-poster {
  position: relative;
  transition: transform 0.3s;
}
.movie-poster:hover {
  transform: scale(1.1);
}
.movie-poster img {
  border-radius: 1.8rem;
  width: 250px;
}

.rate-badge {
  position: absolute;
  top: 0.5rem;
  left: 3.5rem;
  display: flex;
  background-color: #00000075;
  color: rgb(255, 255, 255);
  max-width: fit-content;
  border-radius: 1.9rem;
  padding-right: 0.8rem;
  padding-left: 0.5rem;
}

.rate-icon svg {
  width: 15px;
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}

/*
==================
Trending TV Shows
==================
 */

.TrendingTvShows {
  text-align: left;
  margin-top: 0rem;
  padding: 0rem 3rem;
  padding-bottom: 0%;
}
.tvShow-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
  margin: 0rem 2rem;
  margin-top: 0%;
  align-items: center;
  max-width: 100vw;
}

@media screen and (width<900px) {
  .movie-container,
  .tvShow-container {
    grid-template-columns: 1fr 1fr;
  }
  .rate-badge {
    position: absolute;
    left: 2.9rem;
  }
  .layer {
    left: 1.94rem;
  }
}
@media screen and (width<600px) {
  .movie-container,
  .tvShow-container {
    grid-template-columns: 1fr;
  }
  .rate-badge {
    position: absolute;
    left: 2.1rem;
  }
  .layer {
    left: 1.94rem;
  }
}
/*
==================
Single-Item
==================
 */
.movie-container {
  position: relative;
}
.bg {
  position: absolute;
  top: -3rem;
  background-size: cover;
  background-position: center;
  background-position-y: 45px;
  background-repeat: no-repeat;
}
.poster img {
  position: absolute;
  top: 22rem;
  left: 5rem;
  width: 240px;
  border-radius: 1.5rem;
}
.heart-icon {
  position: relative;
  top: 0.2rem;
}

.addToFavoriteText {
  position: absolute;
  top: -0.5rem;
  left: 14.7rem;
  line-height: normal;
  font-size: 10px;
  color: #fff;
  background-color: #0000004a;
  padding: 0.5rem;
  border-radius: 1rem;
  display: none;
  min-width: max-content;
}
.heart-icon:hover svg {
  fill: white;
}
.heart-icon:hover + .addToFavoriteText {
  display: inline-block;
}
.movie-details {
  position: absolute;
  top: 19rem;
  left: 19rem;
  /* color: #000; */
  color: #fff;
  text-align: left;
  padding: 1rem;
}
.movie-details h2 {
  font-size: 23px;
  font-weight: 70px;
}

.vote-container {
  display: flex;
  background-color: #0000004a;
  color: rgb(255, 255, 255);
  max-width: fit-content;
  border-radius: 1.9rem;
  padding-right: 0.8rem;
  padding-left: 0.5rem;
}
.sub-head {
  position: absolute;
  top: 7rem;
  left: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 100px;
  width: max-content;
  text-align: center;
  margin-bottom: 2rem;
}
.year,
.runtime {
  font-size: 14px;
  font-weight: bold;
}
.overview {
  line-height: 1.3rem;
  position: absolute;
  left: 5rem;
  top: 10rem;
  min-width: 40vw;
  max-width: 60vw;
  font-size: 14.5px;
  font-weight: 1px;
}
.genres {
  margin-top: 0.5rem;
}
.genres li {
  display: inline-block;
  padding: 0.3rem;
}
.tagline {
  margin-top: 1rem;
}
@media screen and (width<900px) {
  .poster img {
    left: 4rem;
  }
  .movie-details {
    left: 18rem;
    top: 18rem;
  }
  .sub-head {
    top: 8rem;
  }
  .overview {
    top: 11rem;
  }
  .tagline {
    top: 0;
  }
}

/* 
===============
page-layout
===============
*/
.main-layout {
  position: relative;
  top: 1.8rem;
  left: 18rem;
  color: #222fc4;
}
.main-layout p {
  text-align: left;
  font-size: medium;
  color: #161d6f;
}
.main-layout p a {
  color: #3746f2;
  margin: 0.1rem 0.5rem;
  padding: 0.3rem 0.9rem;
  border: 2px solid #6471ff;
  border-radius: 2rem;
}
.main-layout p a:hover {
  color: white;
  background-color: #6471ff;
}
.layout-container .one {
  margin: 1rem 1rem;
  display: grid;
  max-width: 76vw;
  grid-template-columns: 60% 35%;
  column-gap: 4%;
}
.layout-container .two {
  margin: 1rem 0rem;
  margin-top: 0rem;
  display: grid;
  max-width: 76vw;
  grid-template-columns: 34% 34% 34%;
}
.one article,
.two article {
  padding: 1rem;
  font-size: 15px;
  color: white;
  position: relative;
  transition: transform 0.3s;
}
.one article {
  margin: 1rem 0.5rem;
  text-align: left;
  min-height: 40vh;
  padding-left: 3rem;
}
.two article {
  text-align: left;
  margin: 0.8rem 1.2rem;
  min-height: 38vh;
  padding-left: 2rem;
}

article h4 {
  background-color: #0000006e;
  min-width: fit-content;
  padding: 0.3rem 1.5rem;
  border-radius: 2rem 0 2rem 0;
  position: absolute;
  top: 0;
  left: 0;
}

.Latest,
.Popular,
.Top-rated,
.Trending,
.Upcoming {
  border-radius: 2rem;
}
article:hover {
  transform: scale(1.1);
}
article:hover h4 {
  background-color: rgba(255, 0, 0, 0.852);
}
@media screen and (width<900px) {
  .sidebar {
    min-width: min-content;
  }
  .layout-container .one {
    grid-template-columns: 1fr;
  }
  .layout-container .two {
    grid-template-columns: 1fr;
  }
  .one article {
    width: 53vw;
    height: 35vh;
  }
  .two article {
    width: 53vw;
    height: 35vh;
  }
  .main-layout p a {
    display: inline-flex;
    padding: 0 0.7rem;
  }
}
/* 
======================
Library
======================
*/
.library {
  display: grid;
  grid-template-columns: 17vw 83vw;
  color: var(--clr-blue-dark);
}
.library-layout {
  text-align: left;
  min-height: 100vh;
}
.library-head {
  margin-top: 1rem;
  padding: 1rem 1rem;
  display: inline-flex;
}
.library-head h3 {
  padding-left: 0.5rem;
}
.library-head a {
  position: absolute;
  right: 1rem;
  color: var(--clr-blue-dark);
}
.library-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1.1fr;
  margin: 0.3rem 0rem;
  align-items: center;
  max-width: 100vw;
}

.list-poster {
  position: relative;
  transition: transform 0.3s;
}
.list-poster:hover {
  transform: scale(1.1);
}
.list-poster img {
  border-radius: 1.8rem;
  width: 210px;
}

#rate-badge {
  position: absolute;
  top: 0.5rem;
  left: 1.2rem;
  display: flex;
  background-color: #00000075;
  color: rgb(255, 255, 255);
  max-width: fit-content;
  border-radius: 1.9rem;
  padding-right: 0.8rem;
  padding-left: 0.5rem;
}

#rate-icon svg {
  width: 15px;
  padding-top: 0.3rem;
  margin-right: 0.5rem;
}
@media screen and (width<900px) {
  .library-layout {
    grid-template-columns: 30vw 70vw;
    padding-left: 9rem;
  }
  .library-list {
    grid-template-columns: 1fr 1.5fr;
  }
  #rate-badge {
    position: absolute;
    left: 1rem;
  }
  .library h3 {
    min-width: max-content;
    display: inline;
  }
}
/* 
===================
Favorite Page
===================
*/
.favorite-layout {
  text-align: left;
  min-height: 100vh;
  position: absolute;
}
.favorite-head {
  display: inline-flex;
}
.favorite-head button {
  margin: 0 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 2rem;
  background-color: rgb(212, 245, 255);
  font-size: 1rem;
  font-weight: bold;
  color: #003a7b;
}
.library-list h2 {
  min-width: max-content;
}
.favorite-layout .remove-btn {
  position: absolute;
  right: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  background-color: rgba(255, 1, 52, 0.616);
  color: rgb(255, 255, 255);
}
.favorite-head button:hover {
  transform: scale(1.1);
}
/* 
===================
Genre Page
===================
*/

#genre-head {
  min-width: max-content;
}
.genre-list button {
  font-size: 15px;
  font-weight: 600;
  padding: 0.6rem 1rem;
  border-radius: 2rem;
  background-color: rgb(212, 245, 255);
  color: #161d6f;
  margin: 0.6rem 0.7rem;
  min-width: 100px;
}
.genre-list button:hover {
  color: crimson;
  transform: scale(1.2);
}
.selected-genre h2 {
  padding: 1rem 2rem;
  padding-top: 4rem;
}
